pipeline/DWH_V2_copy1.json
{
	"name": "DWH_V2_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "lookupDynamicData",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDATA_copy1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "CashcenterDWH",
									"type": "DataFlowReference",
									"parameters": {
										"region": {
											"value": "'@{item().region}'",
											"type": "Expression"
										},
										"cashcentertype": {
											"value": "'@{item().cashcentertype}'",
											"type": "Expression"
										},
										"cashcenter": {
											"value": "'@{item().cashcenter}'",
											"type": "Expression"
										},
										"existCashcentertype": {
											"value": "'@{item().cashcentertypeid}'",
											"type": "Expression"
										},
										"existRegion": {
											"value": "'@{item().regionid}'",
											"type": "Expression"
										},
										"existcashcenterID": {
											"value": "'@{item().cashcenterid}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DWH"
		},
		"annotations": []
	}
}