pipeline/DWH_V1.json
{
	"name": "DWH_V1",
	"properties": {
		"activities": [
			{
				"name": "ReadInputFileDynamically",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel4",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachDATA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadInputFileDynamically",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadInputFileDynamically').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(string(item().name),string(pipeline().parameters.file))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "401",
											"errorCode": "404"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "InitialCopyDataflow_copy1",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "Lookup1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "1.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dynamicColumnDWH",
												"type": "DataFlowReference",
												"parameters": {
													"source": {
														"value": "'@{item().name}'",
														"type": "Expression"
													},
													"sink": {
														"value": "'@{item().name}'",
														"type": "Expression"
													},
													"parameter1": {
														"value": "'@{pipeline().parameters.COLclean1}'",
														"type": "Expression"
													},
													"parameter2": {
														"value": "'@{pipeline().parameters.COLclean2}'",
														"type": "Expression"
													},
													"parameter3": {
														"value": "'@{pipeline().parameters.COLclean3}'",
														"type": "Expression"
													},
													"parameter4": {
														"value": "'@{pipeline().parameters.COLclean4}'",
														"type": "Expression"
													},
													"parameter5": {
														"value": "'@{pipeline().parameters.COLclean5}'",
														"type": "Expression"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									},
									{
										"name": "Lookup1",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"dataset": {
												"referenceName": "Excel5",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "removeDuplicateDWH",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "InitialCopyDataflow_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "1.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dynamicDataDuplidaceDWH",
												"type": "DataFlowReference",
												"parameters": {
													"filename": {
														"value": "'@{item().name}'",
														"type": "Expression"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "string"
			},
			"COLclean1": {
				"type": "string"
			},
			"COLclean2": {
				"type": "string"
			},
			"COLclean3": {
				"type": "string"
			},
			"COLclean4": {
				"type": "string"
			},
			"COLclean5": {
				"type": "string"
			}
		},
		"folder": {
			"name": "DWH"
		},
		"annotations": []
	}
}