muffin1105/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "muffin1105"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/lookupDynamicData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dynamicvalidation (1).xlsx",
						"fileSystem": "dynamicdata"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashcenterDWH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "RegionHash"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "cashCentertypeHash"
						},
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage2",
								"type": "LinkedServiceReference"
							},
							"name": "cashcenter"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "sourcecashCenterhashStaging"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "DWHCashcenterUpdate"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "DWHCashcenterInsert"
						}
					],
					"transformations": [
						{
							"name": "existsCashcenterID"
						},
						{
							"name": "Update"
						},
						{
							"name": "Insert"
						},
						{
							"name": "NotexistsCashcenterID"
						},
						{
							"name": "ValidateRegion"
						},
						{
							"name": "exists1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     region as string,",
						"     cashcentertype as string,",
						"     cashcenter as string,",
						"     existCashcentertype as string,",
						"     existRegion as string,",
						"     existcashcenterID as string",
						"}",
						"source(output(",
						"          RegionID as integer,",
						"          RegionCode as string,",
						"          RegionDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          sha as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold/', $region)),",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> RegionHash",
						"source(output(",
						"          CashCentreTypeID as integer,",
						"          CashCentreTypeCode as string,",
						"          CashCentreTypeDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          sha as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold/', $cashcentertype)),",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> cashCentertypeHash",
						"source(output(",
						"          CashCentreID as short,",
						"          CashCentreTypeID as short,",
						"          RegionID as short,",
						"          CashCentreCode as string,",
						"          CashCentreDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as string,",
						"          UpdatedBy as string,",
						"          UpdatedOn as string,",
						"          DeletedBy as string,",
						"          DeletedOn as string,",
						"          RowLockVersion as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'excel',",
						"     fileSystem: 'dynamicdata',",
						"     sheetName: 'test',",
						"     firstRowAsHeader: true,",
						"     wildcardPaths:[($cashcenter)]) ~> cashcenter",
						"source(output(",
						"          CashCentreID as integer,",
						"          {  CashCentreTypeID} as short,",
						"          { RegionID} as short,",
						"          CashCentreCode as integer,",
						"          CashCentreDescription as string,",
						"          RowLockVersion as short,",
						"          IsActive as boolean,",
						"          CashCentreTypeID as short,",
						"          CashCentreTypeCode as integer,",
						"          CashCentreTypeDescription as string,",
						"          sha as string,",
						"          RegionID as short,",
						"          RegionCode as short,",
						"          RegionDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_cashcenter',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> sourcecashCenterhashStaging",
						"ValidateRegion, sourcecashCenterhashStaging exists(toString(byName($existcashcenterID)) == toString(byName($existcashcenterID)),",
						"     negate:false,",
						"     broadcast: 'auto')~> existsCashcenterID",
						"existsCashcenterID alterRow(updateIf(true())) ~> Update",
						"NotexistsCashcenterID alterRow(insertIf(true())) ~> Insert",
						"ValidateRegion, sourcecashCenterhashStaging exists(toString(byName($existcashcenterID)) == toString(byName($existcashcenterID)),",
						"     negate:true,",
						"     broadcast: 'auto')~> NotexistsCashcenterID",
						"exists1, RegionHash exists(toString(byName('RegionID','cashcenter')) == toString(byName('RegionID','RegionHash')),",
						"     negate:false,",
						"     broadcast: 'auto')~> ValidateRegion",
						"cashcenter, cashCentertypeHash exists(toString(byName('CashCentreTypeID','cashcenter')) == toString(byName('CashCentreTypeID','cashCentertypeHash')),",
						"     negate:false,",
						"     broadcast: 'auto')~> exists1",
						"Update sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_cashcenter',",
						"     insertable: false,",
						"     updateable: true,",
						"     deletable: false,",
						"     upsertable: false,",
						"     keys:['CashCentreID'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHCashcenterUpdate",
						"Insert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_cashcenter',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHCashcenterInsert"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_cashcentertype_SQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH_sqlCashcenter"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "cashcentertypeNEWdata"
						},
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHCashcentertype"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHcashcentertypeUpdate"
						},
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHcashcentertypeInsert"
						}
					],
					"transformations": [
						{
							"name": "generateHASH"
						},
						{
							"name": "dosentexists"
						},
						{
							"name": "insert"
						},
						{
							"name": "NOTexistsCashcentertypeID"
						},
						{
							"name": "update"
						},
						{
							"name": "Generatehash1"
						},
						{
							"name": "existsCashcentertypeID"
						},
						{
							"name": "DerivecolUpdateDeleted"
						},
						{
							"name": "DerivecolInsertDeleted"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CashCentreTypeID as integer,",
						"          CashCentreTypeCode as string,",
						"          CashCentreTypeDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'CashCentreType',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> cashcentertypeNEWdata",
						"source(output(",
						"          CashCentreTypeID as integer,",
						"          CashCentreTypeCode as string,",
						"          CashCentreTypeDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          sha as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_CashCentreType',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> DWHCashcentertype",
						"cashcentertypeNEWdata derive(sha = sha1(CashCentreTypeID,CashCentreTypeCode,CashCentreTypeDescription,IsActive)) ~> generateHASH",
						"generateHASH, Generatehash1 exists(generateHASH@sha == Generatehash1@sha,",
						"     negate:true,",
						"     broadcast: 'auto')~> dosentexists",
						"DerivecolInsertDeleted alterRow(insertIf(true())) ~> insert",
						"dosentexists, DWHCashcentertype exists(cashcentertypeNEWdata@CashCentreTypeID == DWHCashcentertype@CashCentreTypeID,",
						"     negate:true,",
						"     broadcast: 'auto')~> NOTexistsCashcentertypeID",
						"DerivecolUpdateDeleted alterRow(updateIf(true())) ~> update",
						"DWHCashcentertype derive(sha = sha1(CashCentreTypeID,CashCentreTypeCode,CashCentreTypeDescription,IsActive)) ~> Generatehash1",
						"dosentexists, DWHCashcentertype exists(cashcentertypeNEWdata@CashCentreTypeID == DWHCashcentertype@CashCentreTypeID,",
						"     negate:false,",
						"     broadcast: 'auto')~> existsCashcentertypeID",
						"existsCashcentertypeID derive(UpdatedOn = currentTimestamp(),",
						"          DeletedOn = case(IsActive==false(), currentTimestamp())) ~> DerivecolUpdateDeleted",
						"NOTexistsCashcentertypeID derive(CreatedOn = currentTimestamp(),",
						"          DeletedOn = case(IsActive==false(), currentTimestamp())) ~> DerivecolInsertDeleted",
						"update sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_CashCentreType',",
						"     insertable: false,",
						"     updateable: true,",
						"     deletable: false,",
						"     upsertable: false,",
						"     keys:['CashCentreTypeID'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHcashcentertypeUpdate",
						"insert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_CashCentreType',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHcashcentertypeInsert"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_region_SQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH_sqlCashcenter"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "sourceRegion"
						},
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHRegion"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHUpdateRegion"
						},
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "DWHinsertRegion"
						}
					],
					"transformations": [
						{
							"name": "generateHASH"
						},
						{
							"name": "dosentexists"
						},
						{
							"name": "insert"
						},
						{
							"name": "NOTexistsRegionID"
						},
						{
							"name": "update"
						},
						{
							"name": "GenerateHash1"
						},
						{
							"name": "existsRegionID"
						},
						{
							"name": "DerivecolUpdateDeleted"
						},
						{
							"name": "DerivecolumnInsertDeleted"
						}
					],
					"scriptLines": [
						"source(output(",
						"          RegionID as integer,",
						"          RegionCode as string,",
						"          RegionDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'Region',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> sourceRegion",
						"source(output(",
						"          RegionID as integer,",
						"          RegionCode as string,",
						"          RegionDescription as string,",
						"          CreatedBy as string,",
						"          CreatedOn as timestamp,",
						"          UpdatedBy as string,",
						"          UpdatedOn as timestamp,",
						"          DeletedBy as string,",
						"          DeletedOn as timestamp,",
						"          RowLockVersion as string,",
						"          sha as string,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_region',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> DWHRegion",
						"sourceRegion derive(sha = sha1(RegionID,RegionCode,RegionDescription,IsActive)) ~> generateHASH",
						"generateHASH, GenerateHash1 exists(generateHASH@sha == GenerateHash1@sha,",
						"     negate:true,",
						"     broadcast: 'auto')~> dosentexists",
						"DerivecolumnInsertDeleted alterRow(insertIf(true())) ~> insert",
						"dosentexists, DWHRegion exists(sourceRegion@RegionID == DWHRegion@RegionID,",
						"     negate:true,",
						"     broadcast: 'auto')~> NOTexistsRegionID",
						"DerivecolUpdateDeleted alterRow(updateIf(true())) ~> update",
						"DWHRegion derive(sha = sha1(RegionID,RegionCode,RegionDescription,IsActive)) ~> GenerateHash1",
						"dosentexists, DWHRegion exists(sourceRegion@RegionID == DWHRegion@RegionID,",
						"     negate:false,",
						"     broadcast: 'auto')~> existsRegionID",
						"existsRegionID derive(UpdatedOn = currentTimestamp(),",
						"          DeletedOn = case(IsActive==false(), currentTimestamp())) ~> DerivecolUpdateDeleted",
						"NOTexistsRegionID derive(CreatedOn = currentTimestamp(),",
						"          DeletedOn = case(IsActive==false(), currentTimestamp())) ~> DerivecolumnInsertDeleted",
						"update sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_Region',",
						"     insertable: false,",
						"     updateable: true,",
						"     deletable: false,",
						"     upsertable: false,",
						"     keys:['RegionID'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHUpdateRegion",
						"insert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DWH_Region',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWHinsertRegion"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "linkedService3",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "aggregate3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CashCentreTypeID as short,",
						"          CashCentreTypeCode as integer,",
						"          CashCentreTypeDescription as string,",
						"          RowLockVersion as short,",
						"          IsActive as boolean,",
						"          pass as string,",
						"          Month as date 'dd/MM/yyyy',",
						"          payment as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'excel',",
						"     container: 'dynamicdata',",
						"     fileName: 'cashcentertype.xlsx',",
						"     sheetName: 'Sheet1',",
						"     firstRowAsHeader: true) ~> source1",
						"source1 derive(abc = toString(byName('CashCentreTypeID'))) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(bb = toString(byName('CashCentreTypeID'))),",
						"     each(match(name=='payment'), $$ = sum($$))) ~> aggregate1",
						"source1 aggregate(groupBy(Month = month(Month)),",
						"     each(match(name=='payment'), $$ = sum($$))) ~> aggregate3",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     fileSystem: 'newdata',",
						"     folderPath: 'selectdata',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: false,",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicColumnDWHValidate')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage2",
								"type": "LinkedServiceReference"
							},
							"name": "LocalStaging"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "SilverLineage"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn9"
						},
						{
							"name": "split1"
						},
						{
							"name": "assert2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     source as string,",
						"     sink as string,",
						"     parameter1 as string (''),",
						"     parameter2 as string (''),",
						"     parameter3 as string (''),",
						"     parameter4 as string ('')",
						"}",
						"source(output(",
						"          RegionID as short,",
						"          RegionCode as short,",
						"          RegionDescription as string,",
						"          RowLockVersion as short,",
						"          IsActive as boolean,",
						"          MobileNumber as string,",
						"          {start date} as date,",
						"          emailid as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'excel',",
						"     fileSystem: 'dynamicdata',",
						"     sheetName: 'Sheet1',",
						"     firstRowAsHeader: true,",
						"     wildcardPaths:[($source)]) ~> LocalStaging",
						"LocalStaging derive(VALIDATE = true()) ~> derivedColumn9",
						"derivedColumn9 split(case((type($parameter3))==type('date'), true()),",
						"     disjoint: false) ~> split1@(hasdate, dnthave)",
						"split1@hasdate assert(expectTrue(between(toDate(toString(byName('start date'))),currentDate()-9125,currentDate()+15), false, 'assert1')) ~> assert2",
						"assert2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$sink)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SilverLineage"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicColumnDWHWorking')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage2",
								"type": "LinkedServiceReference"
							},
							"name": "LocalStaging"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "SilverLineage"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "RegexSTR"
						},
						{
							"name": "RegexNum"
						},
						{
							"name": "split1"
						},
						{
							"name": "mobile"
						},
						{
							"name": "email"
						},
						{
							"name": "split2"
						},
						{
							"name": "derivedColumn7"
						},
						{
							"name": "derivedColumn8"
						},
						{
							"name": "derivedColumn9"
						},
						{
							"name": "alterRow1"
						},
						{
							"name": "alterRow2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     source as string,",
						"     sink as string,",
						"     parameter1 as string (''),",
						"     parameter2 as string (''),",
						"     parameter3 as string (''),",
						"     parameter4 as string ('')",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'excel',",
						"     fileSystem: 'dynamicdata',",
						"     sheetName: 'Sheet1',",
						"     firstRowAsHeader: true,",
						"     wildcardPaths:[($source)]) ~> LocalStaging",
						"derivedColumn9 derive(each(match(type=='string'&&name==$parameter1||name==$parameter2||name==$parameter3), $$ = regexReplace(toString($$), '[!@#$%^&*()]',''))) ~> RegexSTR",
						"split1@date derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> RegexNum",
						"email split(between(toDate(toString(byName($parameter3))),currentDate()-9125,currentDate()+15),",
						"     disjoint: false) ~> split1@(date, validate)",
						"derivedColumn8 derive(each(match(name=='MobileNumber'), $$ = case(length(right(toString(byName($parameter2)), 10))==10,(right(toString(byName($parameter2)), 10)),'invalid'))) ~> mobile",
						"mobile derive(each(match(name=='emailid'), 'validated email' = case(like(toString(byName($parameter4)),'%@%.com'),$$))) ~> email",
						"split1@validate split($parameter3=='start date',",
						"     disjoint: false) ~> split2@(error, OtherData)",
						"split2@OtherData derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> derivedColumn7",
						"RegexSTR derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> derivedColumn8",
						"LocalStaging derive(VALIDATE = true()) ~> derivedColumn9",
						"RegexNum alterRow(upsertIf(true())) ~> alterRow1",
						"derivedColumn7 alterRow(upsertIf(true())) ~> alterRow2",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$sink)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SilverLineage",
						"alterRow2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$sink)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: true,",
						"     keys:['VALIDATE'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicColumnDWHWorking_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage2",
								"type": "LinkedServiceReference"
							},
							"name": "LocalStaging"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "SilverLineage"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "RegexSTR"
						},
						{
							"name": "RegexNum"
						},
						{
							"name": "split1"
						},
						{
							"name": "mobile"
						},
						{
							"name": "email"
						},
						{
							"name": "split2"
						},
						{
							"name": "derivedColumn7"
						},
						{
							"name": "derivedColumn8"
						},
						{
							"name": "derivedColumn9"
						},
						{
							"name": "alterRow1"
						},
						{
							"name": "alterRow2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     source as string,",
						"     sink as string,",
						"     parameter1 as string (''),",
						"     parameter2 as string (''),",
						"     parameter3 as string (''),",
						"     parameter4 as string ('')",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'excel',",
						"     fileSystem: 'dynamicdata',",
						"     sheetName: 'Sheet1',",
						"     firstRowAsHeader: true,",
						"     wildcardPaths:[($source)]) ~> LocalStaging",
						"derivedColumn9 derive(each(match(type=='string'&&name==$parameter1||name==$parameter2||name==$parameter3), $$ = regexReplace(toString($$), '[!@#$%^&*()]',''))) ~> RegexSTR",
						"split1@date derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> RegexNum",
						"email split(between(toDate(toString(byName($parameter3))),currentDate()-9125,currentDate()+15),",
						"     disjoint: false) ~> split1@(date, validate)",
						"derivedColumn8 derive(each(match(name=='MobileNumber'), $$ = case(length(right(toString(byName($parameter2)), 10))==10,(right(toString(byName($parameter2)), 10)),'invalid'))) ~> mobile",
						"mobile derive(each(match(name=='emailid'), 'validated email' = case(like(toString(byName($parameter4)),'%@%.com'),$$))) ~> email",
						"split1@validate split($parameter3=='start date',",
						"     disjoint: false) ~> split2@(error, OtherData)",
						"split2@OtherData derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> derivedColumn7",
						"RegexSTR derive(each(match(type=='short'||type=='integer'), $$ = regexReplace(toString($$), '[!@#$%^&*a-zA-Z]',''))) ~> derivedColumn8",
						"LocalStaging derive(VALIDATE = true()) ~> derivedColumn9",
						"RegexNum alterRow(upsertIf(true())) ~> alterRow1",
						"derivedColumn7 alterRow(upsertIf(true())) ~> alterRow2",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$sink)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SilverLineage",
						"alterRow2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$sink)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: true,",
						"     keys:['VALIDATE'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicDataDuplidaceDWH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "SilverPIPELINE"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "GoldLineage"
						}
					],
					"transformations": [
						{
							"name": "REMOVEDUP"
						}
					],
					"scriptLines": [
						"parameters{",
						"     filename as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$filename)),",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> SilverPIPELINE",
						"SilverPIPELINE aggregate(groupBy(hash = sha2(256,columns())),",
						"     each(match(true()), $$ = first($$))) ~> REMOVEDUP",
						"REMOVEDUP sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold/', $filename)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> GoldLineage"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicDataDuplidaceDWH_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "SilverPIPELINE"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "GoldLineage"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						},
						{
							"linkedService": {
								"referenceName": "linkedService4",
								"type": "LinkedServiceReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "REMOVEDUP"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "aggregate2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     filename as string,",
						"     groupby as string,",
						"     payment as string,",
						"     date as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('silver/',$filename)),",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> SilverPIPELINE",
						"SilverPIPELINE aggregate(groupBy(hash = sha2(256,columns())),",
						"     each(match(true()), $$ = first($$))) ~> REMOVEDUP",
						"SilverPIPELINE aggregate(groupBy(totalPayment = toString(byName($groupby))),",
						"     each(match(name==$payment), $$ = sum(toInteger($$)))) ~> aggregate1",
						"SilverPIPELINE aggregate(groupBy(monthTotal = month(toDate(toString(byName($date))))),",
						"     each(match(name==$payment), $$ = sum(toInteger($$)))) ~> aggregate2",
						"REMOVEDUP sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold/', $filename)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> GoldLineage",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold_aggregation/', $filename)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1",
						"aggregate2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: (concat('gold_dateTotal/', $filename)),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "InitialCopyDataflow_copy1_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicColumnDWHWorking",
											"type": "DataFlowReference",
											"parameters": {
												"source": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"sink": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"parameter1": {
													"value": "'@{item().col1}'",
													"type": "Expression"
												},
												"parameter2": {
													"value": "'@{item().col2}'",
													"type": "Expression"
												},
												"parameter3": {
													"value": "'@{item().col3}'",
													"type": "Expression"
												},
												"parameter4": {
													"value": "'@{item().col4}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"LocalStaging": {},
												"SilverLineage": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "removeDuplicateDWH_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "InitialCopyDataflow_copy1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicDataDuplidaceDWH_copy1",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"groupby": {
													"value": "'@{item().groupby}'",
													"type": "Expression"
												},
												"payment": {
													"value": "'@{item().col5}'",
													"type": "Expression"
												},
												"date": {
													"value": "'@{item().monthlyPayment\n}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SilverPIPELINE": {},
												"GoldLineage": {},
												"sink1": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEachDATA_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "lookupDynamicData",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "CashcenterDWH",
											"type": "DataFlowReference",
											"parameters": {
												"region": {
													"value": "'@{item().region}'",
													"type": "Expression"
												},
												"cashcentertype": {
													"value": "'@{item().cashcentertype}'",
													"type": "Expression"
												},
												"cashcenter": {
													"value": "'@{item().cashcenter}'",
													"type": "Expression"
												},
												"existCashcentertype": {
													"value": "'@{item().cashcentertypeid}'",
													"type": "Expression"
												},
												"existRegion": {
													"value": "'@{item().regionid}'",
													"type": "Expression"
												},
												"existcashcenterID": {
													"value": "'@{item().cashcenterid}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"RegionHash": {},
												"cashCentertypeHash": {},
												"cashcenter": {},
												"sourcecashCenterhashStaging": {},
												"DWHCashcenterUpdate": {},
												"DWHCashcenterInsert": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/lookupDynamicData')]",
				"[concat(variables('factoryId'), '/dataflows/dynamicColumnDWHWorking')]",
				"[concat(variables('factoryId'), '/dataflows/dynamicDataDuplidaceDWH_copy1')]",
				"[concat(variables('factoryId'), '/dataflows/CashcenterDWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_V2Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "InitialCopyDataflow_copy1_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicColumnDWHWorking",
											"type": "DataFlowReference",
											"parameters": {
												"source": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"sink": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"parameter1": {
													"value": "'@{item().col1}'",
													"type": "Expression"
												},
												"parameter2": {
													"value": "'@{item().col2}'",
													"type": "Expression"
												},
												"parameter3": {
													"value": "'@{item().col3}'",
													"type": "Expression"
												},
												"parameter4": {
													"value": "'@{item().col4}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"LocalStaging": {},
												"SilverLineage": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "removeDuplicateDWH_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "InitialCopyDataflow_copy1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicDataDuplidaceDWH_copy1",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"groupby": {
													"value": "'@{item().groupby}'",
													"type": "Expression"
												},
												"payment": {
													"value": "'@{item().col5}'",
													"type": "Expression"
												},
												"date": {
													"value": "'@{item().monthlyPayment\n}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SilverPIPELINE": {},
												"GoldLineage": {},
												"sink1": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dynamicColumnDWHWorking')]",
				"[concat(variables('factoryId'), '/dataflows/dynamicDataDuplidaceDWH_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_V2_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "lookupDynamicData",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "CashcenterDWH",
											"type": "DataFlowReference",
											"parameters": {
												"region": {
													"value": "'@{item().region}'",
													"type": "Expression"
												},
												"cashcentertype": {
													"value": "'@{item().cashcentertype}'",
													"type": "Expression"
												},
												"cashcenter": {
													"value": "'@{item().cashcenter}'",
													"type": "Expression"
												},
												"existCashcentertype": {
													"value": "'@{item().cashcentertypeid}'",
													"type": "Expression"
												},
												"existRegion": {
													"value": "'@{item().regionid}'",
													"type": "Expression"
												},
												"existcashcenterID": {
													"value": "'@{item().cashcenterid}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"RegionHash": {},
												"cashCentertypeHash": {},
												"cashcenter": {},
												"sourcecashCenterhashStaging": {},
												"DWHCashcenterUpdate": {},
												"DWHCashcenterInsert": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/lookupDynamicData')]",
				"[concat(variables('factoryId'), '/dataflows/CashcenterDWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_V2val')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "InitialCopyDataflow_copy1_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicColumnDWHValidate",
											"type": "DataFlowReference",
											"parameters": {
												"source": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"sink": {
													"value": "'@{item().data\n}'",
													"type": "Expression"
												},
												"parameter1": {
													"value": "'@{item().col1}'",
													"type": "Expression"
												},
												"parameter2": {
													"value": "'@{item().col2\n}'",
													"type": "Expression"
												},
												"parameter3": {
													"value": "'@{item().col3}'",
													"type": "Expression"
												},
												"parameter4": {
													"value": "'@{item().col4}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"LocalStaging": {},
												"SilverLineage": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dynamicColumnDWHValidate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_V3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "InitialCopyDataflow_copy1_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicColumnDWHWorking",
											"type": "DataFlowReference",
											"parameters": {
												"source": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"sink": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"parameter1": {
													"value": "'@{item().col1}'",
													"type": "Expression"
												},
												"parameter2": {
													"value": "'@{item().col2}'",
													"type": "Expression"
												},
												"parameter3": {
													"value": "'@{item().col3}'",
													"type": "Expression"
												},
												"parameter4": {
													"value": "'@{item().col4}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"LocalStaging": {},
												"SilverLineage": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "removeDuplicateDWH_copy1",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "InitialCopyDataflow_copy1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dynamicDataDuplidaceDWH_copy1",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().data}'",
													"type": "Expression"
												},
												"groupby": {
													"value": "'@{item().groupby}'",
													"type": "Expression"
												},
												"payment": {
													"value": "'@{item().col5}'",
													"type": "Expression"
												},
												"date": {
													"value": "'@{item().monthlyPayment\n}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SilverPIPELINE": {},
												"GoldLineage": {},
												"sink1": {},
												"sink2": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEachDATA_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDATA_copy1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "CashcenterDWH",
											"type": "DataFlowReference",
											"parameters": {
												"region": {
													"value": "'@{item().region}'",
													"type": "Expression"
												},
												"cashcentertype": {
													"value": "'@{item().cashcentertype}'",
													"type": "Expression"
												},
												"cashcenter": {
													"value": "'@{item().cashcenter}'",
													"type": "Expression"
												},
												"existCashcentertype": {
													"value": "'@{item().cashcentertypeid}'",
													"type": "Expression"
												},
												"existRegion": {
													"value": "'@{item().regionid}'",
													"type": "Expression"
												},
												"existcashcenterID": {
													"value": "'@{item().cashcenterid}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"RegionHash": {},
												"cashCentertypeHash": {},
												"cashcenter": {},
												"sourcecashCenterhashStaging": {},
												"DWHCashcenterUpdate": {},
												"DWHCashcenterInsert": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dynamicColumnDWHWorking')]",
				"[concat(variables('factoryId'), '/dataflows/dynamicDataDuplidaceDWH_copy1')]",
				"[concat(variables('factoryId'), '/dataflows/CashcenterDWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamic data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "If Condition1_copy1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@startswith(string(activity('Get Metadata1').output.name[0]),'cashcenter01.xlsx' )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1_copy1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@item.name",
											"type": "Expression"
										},
										"errorCode": " @item.name"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourcename": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-30T09:37:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConvergencePurview')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "test"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "linkedService3",
								"type": "LinkedServiceReference"
							},
							"name": "RegionSource"
						},
						{
							"linkedService": {
								"referenceName": "linkedService3",
								"type": "LinkedServiceReference"
							},
							"name": "CashcenterSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText3",
								"type": "DatasetReference"
							},
							"name": "ConvergingData"
						}
					],
					"transformations": [
						{
							"name": "joinData"
						}
					],
					"scriptLines": [
						"source(output(",
						"          RegionID as short,",
						"          RegionCode as short,",
						"          RegionDescription as string,",
						"          RowLockVersion as short,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     container: 'dynamicdata',",
						"     fileName: 'regioncsv.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> RegionSource",
						"source(output(",
						"          CashCentreID as integer,",
						"          {  CashCentreTypeID} as short,",
						"          { RegionID} as short,",
						"          CashCentreCode as integer,",
						"          CashCentreDescription as string,",
						"          RowLockVersion as short,",
						"          IsActive as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     container: 'dynamicdata',",
						"     fileName: 'cashcentercsv.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> CashcenterSource",
						"RegionSource, CashcenterSource join(RegionID == { RegionID},",
						"     joinType:'outer',",
						"     broadcast: 'auto')~> joinData",
						"joinData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TANMAY0 as string,",
						"          Prop_1 as string,",
						"          TANMAY2 as string,",
						"          TANMAY3 as string,",
						"          {V0.1} as string,",
						"          true as string,",
						"          {9687595126} as string,",
						"          {40049 Clemons Street} as string,",
						"          {01/03/22} as string,",
						"          {31/03/22} as string,",
						"          {1254635} as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ConvergingData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Divergence')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "test"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "linkedService3",
								"type": "LinkedServiceReference"
							},
							"name": "EMPdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "EMPDATASPLIT1"
						},
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "EMPDATASPLIT2"
						}
					],
					"transformations": [
						{
							"name": "COLselect2"
						},
						{
							"name": "COLselect"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as short,",
						"          CashCentreID1 as integer,",
						"          CashCentreShiftID as integer,",
						"          CashCentreTeamID as long,",
						"          PayRollNumber as long,",
						"          FirstName as string,",
						"          LastName as string,",
						"          DisplayName as string,",
						"          CreatedBy as string,",
						"          CreatedOn as date,",
						"          UpdatedBy as string,",
						"          DeletedBy as string,",
						"          RowLockVersion as string,",
						"          IsActive as boolean,",
						"          Mobilenumber as long,",
						"          {Address } as string,",
						"          {start date} as string,",
						"          {end date} as string,",
						"          CashCentreID18 as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     container: 'dynamicdata',",
						"     fileName: 'empdataa.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> EMPdata",
						"EMPdata select(mapColumn(",
						"          EmployeeID,",
						"          CashCentreID1,",
						"          CashCentreShiftID,",
						"          CashCentreTeamID,",
						"          PayRollNumber,",
						"          FirstName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> COLselect2",
						"EMPdata select(mapColumn(",
						"          CreatedBy,",
						"          CreatedOn,",
						"          UpdatedBy,",
						"          DeletedBy,",
						"          RowLockVersion,",
						"          IsActive,",
						"          Mobilenumber,",
						"          {Address },",
						"          {start date},",
						"          {end date},",
						"          CashCentreID18",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> COLselect",
						"COLselect sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> EMPDATASPLIT1",
						"COLselect2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {File header ID} as string,",
						"          {file header description} as string,",
						"          {Start date} as string,",
						"          {End Date } as string,",
						"          {File item name } as string,",
						"          {Rows loaded} as string,",
						"          {Rows rejected error} as string,",
						"          Status as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> EMPDATASPLIT2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "cashcenter_and_type_region",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "sqldata",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "union1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as string,",
						"          CashCentreID as string,",
						"          CashCentreShiftID as string,",
						"          CashCentreTeamID as string,",
						"          PayRollNumber as string,",
						"          FirstName as string,",
						"          LastName as string,",
						"          DisplayName as string,",
						"          CreatedBy as string,",
						"          CreatedOn as string,",
						"          UpdatedBy as string,",
						"          DeletedBy as string,",
						"          RowLockVersion as string,",
						"          IsActive as string,",
						"          Mobilenumber as string,",
						"          {Address } as string,",
						"          {start date} as string,",
						"          {end date} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          CashCentreTypeID as string,",
						"          CashCentreTypeCode as string,",
						"          CashCentreTypeDescription as string,",
						"          RowLockVersion as string,",
						"          IsActive as string,",
						"          pass as string,",
						"          Month as string,",
						"          payment as string,",
						"          validate as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'silver/cashcentertype.xlsx',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> source2",
						"source1, source1 union(byName: true)~> union1",
						"derivedColumn2 aggregate(groupBy(monthtotal = month(toDate(Month))),",
						"     each(match(name=='payment'), $$ = sum(toInteger($$)))) ~> aggregate1",
						"source2 derive(aa = (toDate(toInteger(Month)))) ~> derivedColumn2",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'schema',",
						"     tableName: ($file),",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		}
	]
}